@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.container{
    font-family: 'Poppins', sans-serif;
}
.grupo__fieldset{
    border:none;
}

.formulario__input{
    width: 240px;
    height: 30px;
}
.formulario__input:focus{
    outline-color:#1875ff ;
}
.formulario__input-error{
    color:red;
    font-weight: 500;
    font-size: 0.8rem;
}
.formulario__mensaje-exito{
    color:green;
    font-weight: 500;
    font-size: 0.8rem;
}